$h-arrow-spin-width: 50%;
@if index($hamburger-themes, arrow-spin-r){ 
 &arrow-spin-r{
  .hamburger__inner{
   transition: transform $h-duration;
   &:before{transform-origin: right bottom;}
   &:after{transform-origin: right top;    }
   &:after, &:before{
    left: auto;right: 0;
    transition: top $h-duration , width $h-duration, transform $h-duration;
   }
  }
 }
 
 &arrow-spin-r.hamburger_active{
  .hamburger__inner{
   transform: rotate(-360deg);
   &:before{transform: translateY($h-line-height/5) rotate(45deg);}
   &:after{transform: translateY(-$h-line-height/5) rotate(-45deg);}
   &:after, &:before{
    top: 0;
    width: $h-arrow-spin-width;
   }
  }
 }
}

@if  index($hamburger-themes, arrow-spin-l){
 &arrow-spin-l{
  .hamburger__inner{
   transition: transform $h-duration;
   &:after, &:before{
    transition: top $h-duration , width $h-duration, transform $h-duration;
   }
   &:before{transform-origin: left bottom;}
   &:after{transform-origin: left top;  }
  }
 }
 &arrow-spin-l.hamburger_active{
  .hamburger__inner{
   transform: rotate(360deg);
   &:before{transform: translateY($h-line-height/5) rotate(-45deg);}
   &:after{transform: translateY(-$h-line-height/5) rotate(45deg);}
   &:after, &:before{
    top: 0;
    width: $h-arrow-spin-width;
    transition: top $h-duration , width $h-duration, transform $h-duration;
   }
  }
 }
}

@if index($hamburger-themes, arrow-spin-b){
 &arrow-spin-b{
  transition: transform $h-duration;
  .hamburger__inner{
   &:before{transform-origin: left bottom;}
   &:after{transform-origin: left top;  }
   &:after, &:before{transition: top $h-duration , width $h-duration, transform $h-duration;}
  }
 }
 &arrow-spin-b.hamburger_active{
  transform: rotate(270deg);
  .hamburger__inner{
   &:after, &:before{
    top: 0;
    width: $h-arrow-spin-width;
    transition: top $h-duration , width $h-duration, transform $h-duration;
   }
   &:before{transform: translateY($h-line-height/5) rotate(-45deg);}
   &:after{transform: translateY(-$h-line-height/5) rotate(45deg);}
  }
 }
 
}

@if index($hamburger-themes, arrow-spin-t) {
 &arrow-spin-t{
  transition: transform $h-duration;
  .hamburger__inner{
   &:before{transform-origin: left bottom;}
   &:after{transform-origin: left top;  }
   &:after, &:before{transition: top $h-duration , width $h-duration, transform $h-duration;}
  }
 }
 &arrow-spin-t.hamburger_active{
  transform: rotate(-270deg);
  .hamburger__inner{
   &:after, &:before{
    top: 0;
    width: $h-arrow-spin-width;
    transition: top $h-duration , width $h-duration, transform $h-duration;
   }
   &:before{transform: translateY($h-line-height/5) rotate(-45deg);}
   &:after{transform: translateY(-$h-line-height/5) rotate(45deg);}
  }
 }
}