@if index($hamburger-themes, spring){
 &spring{
  .hamburger__inner{
   top: 0;
   transition: transform $h-duration/2, background-color 0s $h-duration/2;
   &:after, &:before{
    transition: top $h-duration/2 $h-duration/2, transform $h-duration/2;
   }
   &:before{
    top:  $h-height/2 - $h-line-height/2;
   }
   &:after{
    top: $h-height - $h-line-height;
   }
  }
 }
 &spring.hamburger_active{
  .hamburger__inner{
   transition: transform $h-duration/2 $h-duration/2, background-color 0s $h-duration/2;
   background-color: transparent;
   transform: translateY($h-height/2 - $h-line-height/2);
   &:after, &:before{
    top: 0;
    transition: top $h-duration/2, transform $h-duration/2 $h-duration/2;
   }
   &:before{
    transform: rotate(45deg);
   }
   &:after{
    transform: rotate(-45deg);
   }
  }
 }
}