@if index($hamburger-themes, stand-r) or index($hamburger-themes, stand-l){
 &stand-r, &stand-l{
  .hamburger__inner{
   transition: transform $h-duration/3 $h-duration*2/3, 
               background-color 0s $h-duration*1/3;
   &:after, &:before{
    transition: top $h-duration/3 $h-duration*1/3, 
                transform $h-duration/3;
   }
  }
 }
 &stand-l.hamburger_active{
  .hamburger__inner{
   transform: rotate(-90deg);
  }
 }
 &stand-r.hamburger_active{
  .hamburger__inner{
   transform: rotate(90deg);
  }
 }
 &stand-r.hamburger_active, &stand-l.hamburger_active{
  .hamburger__inner{
   background-color: transparent;
   transition: transform $h-duration/3, background-color 0s $h-duration*2/3;
   &:after, &:before{
    top: 0;
    transition: top $h-duration/3 $h-duration/3, 
                transform $h-duration/3 $h-duration*2/3;
   }
   &:before{
    transform: rotate(45deg);
   }
   &:after{
    transform: rotate(-45deg);
   }
  }
 }
}