// Variables
$bp-xl: 1200px;
$bp-lg: 992px;
$bp-md: 768px;
$bp-sm: 576px;

// Functions
@function adaptiveClamp($f-min: 16, $f-max: 32, $v-normal: 1920, $units: px) {
 $middle: (100 * $f-max) / $v-normal;
 @return clamp($f-min + $units, $middle, $f-max + $units);
}

@function adaptiveCalc($f-min: 12, $f-max: 16, $v-min: 320, $v-max: 1920, $units: px) {
 $k: ($f-max - $f-min)/($v-max - $v-min);
 $b: $f-min - $k * $v-min;
 $b: $b + $units;
 @return calc( #{$k} * 100vw + #{$b} );
}

@function widthToHeight($width: 1920, $height: 1080){
 @return (100 * $width) / $height;
}

@function heightToWidth($width: 1920, $height: 1080){
 @return (100 * $height) / $width;
}

// Mixins
@mixin md-xl {
 @media screen and (max-width: $bp-xl){
  @content;
 }
}

@mixin md-lg {
 @media screen and (max-width: $bp-lg){
  @content;
 }
}

@mixin md-md {
 @media screen and (max-width: $bp-md){
  @content;
 }
}

@mixin md-sm {
 @media screen and (max-width: $bp-sm){
  @content;
 }
}

@mixin adaptiveImg($width: 1920, $height: 1080){
 position: relative;
 padding-right: 100%;
 padding-bottom: heightToWidth($width, $height)#{"%"};
}

@mixin abcoluteCenter($transform: ""){
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%) #{$transform};
}